* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #1db13d, #d9e754);
}

.login-form {
  width: 360px;
  background: #f1f1f1;
  height: 580px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-form h1 {
  text-align: center;
  margin-bottom: 60px;
}

.txtb {
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 30px 0;
}

.txtb input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 50px;
}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}

.txtb span::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg, #1db13d, #d9e754);
  transition: 0.5s;
}

.focus + span::before {
  top: -5px;
}

.focus + span::after {
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.logbtn {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 1.3rem;
  border: none;
  background: linear-gradient(120deg, #1db13d, #d9e754, #1db13d);
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 30px;
}

.logbtn:hover {
  background-position: right;
}

.bottom-text {
  margin-top: 60px;
  text-align: center;
  font-size: 0.9rem;
}

.grid-test {
  width: 100px;
  height: 100px;
  background: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

form {
  display: grid;
}

.helloWorld {
  position: relative;
  background: blue;
}
